@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap');
html,body
{
    height: 100%;
    overflow-y: hidden;
background-color: rgb(0, 0, 0);
}
.field{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
    align-self: center; 
    margin: auto;
}
#text{
    font-size: 80px;
    text-align: center;
    margin: auto;
    margin-top:70px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.games{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:100px;
    
}
.game{
    display:flex;
    flex-direction:column;  
    align-self: center;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}
IMG{  
    height:200px;
    width:300px;
}
.button{
    color:rgba(255, 255, 255, 0.7);
      font-size: 25px;
    text-align: center;
    font-weight: bolder;
}
button{
    background-color: rgba(255, 235, 205, 0.116);
    width: auto;
height: auto; 
border: 0px solid rgb(255, 255, 255);
margin: auto;
margin-top: 20px;
border-radius: 150px;
}





