.window{
background: linear-gradient(45deg,#b8b894 20%,  #e0e0d1  );
height:600px;;
width:100%;
}
.zag{
font-family:"Playfair Display";
font-size:25px;
text-align:left;
text-transform:uppercase;
text-align:center;
color:#9a9a9a;
}
.window1{
padding:50px;
float:left;
}
.window2{
float:left;
width:500px;
height:400px;
}
.zag2{
color:white;
font-size:40px;
padding:10px;
font-weight:bolder;
font-family:"Playfair Display";
text-shadow: 3px 3px 0 rgba(214, 214, 194,0.5);
}
.zagMusic{
font-size:30px;
padding:10px;
font-weight:bold;
font-family:"Playfair Display";
color:white;
align:right;
text-shadow: 3px 3px 0 rgba(214, 214, 194,0.5);
}