@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap');
html,body
{
height: 100%;
background-color: black;
background-image: url(https://i.gifer.com/IrM.gif);
background-position: center;
background-size: 100%;
}
h1{
    color:rgb(174, 174, 175);
    font-size: 40px;
    text-align: center;
}
.shar{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;  
 margin-left: auto;
 margin-right: auto;
border: rgb(4, 3, 17) solid 1px;
border-radius: 50%;
background: radial-gradient(circle,rgb(27, 27, 27)10%,#25272c 30%,rgb(98, 100, 110) 60%, rgb(148, 147, 147) 80%);
        width:500px;
        height:500px;
        justify-content: center;      
}
@keyframes tremor { 
    0%, 25% {
        left: -1px;
        top:-1px;
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%);
    }
    50%, 100% {
        left: 1px;
        top: 1px;
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
}
button{
    background: transparent;
    border-color: transparent;
    position: absolute;  
    border: none;
    color:rgb(174, 174, 175);
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;  
    position:relative;
    animation-duration: 0.1s;
    animation-name:  tremor;
    animation-timing-function:  linear ;  
    animation-iteration-count: 1;
}






